.detailMarketDiv{
    width: 500px;
    /* height: 100%; */
    background-image: linear-gradient(to right, #DC1Bd9, #4EB4C3);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    
    border-top-right-radius: 15px;
    margin-top: 30px;

}

.detailMarketWrappedDiv{
    background-color: #290825;
    border-top-right-radius: 15px;
    padding:30px 30px 30px 30px;
}

.detailMarketTitleDiv{
    font-size: 17px;
    font-weight: bold;
    color: white;
    border-bottom: #4EB4C3 1px solid;
}
.detailMarketContentDiv{
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    border-bottom: #4EB4C3 1px solid;
}

@media only screen and (max-width: 1700px) {
    .detailMarketDiv{
        padding-left: 3px;
    }
}
@media only screen and (max-width: 500px) {
    .detailMarketDiv{
        width: 310px;
        padding-left: 3px;
    }
}
